{% extends "base.html" %} 

{% block content %}
<a href="{% url 'create_categories' %}">Create</a>
<main>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for category in expensecategory_list %}
      <tr>
        <td>{{category.name}}</td>
        <td>{{category.receipts.all | length }}</td>
      
      </tr>
  </tbody>
  {% endfor %}
</table>
</main>
{% endblock content %}